@import "tailwindcss";
@import "@premieroctet/next-admin/theme";
@source "./node_modules/@premieroctet/next-admin/dist";

@theme {
    --color-nextadmin-primary-500: var(--color-zinc-500);
    --color-nextadmin-primary-600: var(--color-zinc-600);
    --color-nextadmin-brand-subtle: var(--color-zinc-500);
    --color-nextadmin-brand-default: var(--color-zinc-900);
    --color-nextadmin-brand-emphasis: var(--color-zinc-700);
    --color-nextadmin-brand-inverted: var(--color-white);
    --color-nextadmin-brand-muted: var(--color-zinc-100);
    --color-nextadmin-menu-background: var(--color-zinc-50);
    --color-nextadmin-menu-color: var(--color-zinc-500);
    --color-nextadmin-menu-muted: var(--color-zinc-200);
    --color-nextadmin-menu-emphasis: var(--color-zinc-700);
    --color-nextadmin-border-default: var(--color-zinc-200);
    --color-nextadmin-border-strong: var(--color-zinc-300);
    --color-nextadmin-background-default: var(--color-white);
    --color-nextadmin-background-subtle: var(--color-zinc-50);
    --color-nextadmin-background-muted: var(--color-zinc-100);
    --color-nextadmin-background-emphasis: var(--color-zinc-200);
    --color-nextadmin-content-default: var(--color-gray-400);
    --color-nextadmin-content-subtle: var(--color-neutral-600);
    --color-nextadmin-content-emphasis: var(--color-zinc-500);
    --color-nextadmin-content-inverted: var(--color-gray-700);
    --color-nextadmin-alert-info-background: var(--color-blue-50);
    --color-nextadmin-alert-info-content: var(--color-blue-800);
    --color-nextadmin-alert-success-background: var(--color-green-50);
    --color-nextadmin-alert-success-content: var(--color-green-800);
    --color-nextadmin-alert-error-background: var(--color-red-50);
    --color-nextadmin-alert-error-content: var(--color-red-800);
    --color-dark-nextadmin-brand-subtle: var(--color-zinc-400);
    --color-dark-nextadmin-brand-default: var(--color-zinc-500);
    --color-dark-nextadmin-brand-emphasis: var(--color-zinc-700);
    --color-dark-nextadmin-brand-inverted: var(--color-white);
    --color-dark-nextadmin-brand-muted: var(--color-zinc-50);
    --color-dark-nextadmin-menu-background: var(--color-zinc-800);
    --color-dark-nextadmin-menu-color: var(--color-zinc-300);
    --color-dark-nextadmin-menu-muted: var(--color-zinc-600);
    --color-dark-nextadmin-menu-emphasis: var(--color-zinc-200);
    --color-dark-nextadmin-border-default: var(--color-zinc-600);
    --color-dark-nextadmin-border-strong: var(--color-zinc-700);
    --color-dark-nextadmin-background-default: var(--color-zinc-900);
    --color-dark-nextadmin-background-subtle: var(--color-zinc-600);
    --color-dark-nextadmin-background-muted: var(--color-zinc-500);
    --color-dark-nextadmin-background-emphasis: var(--color-zinc-800);
    --color-dark-nextadmin-content-default: var(--color-gray-300);
    --color-dark-nextadmin-content-subtle: var(--color-neutral-200);
    --color-dark-nextadmin-content-emphasis: var(--color-zinc-400);
    --color-dark-nextadmin-content-inverted: var(--color-zinc-50);
    --color-dark-nextadmin-alert-info-background: var(--color-zinc-600);
    --color-dark-nextadmin-alert-info-content: var(--color-sky-200);
    --color-dark-nextadmin-alert-success-background: var(--color-zinc-600);
    --color-dark-nextadmin-alert-success-content: var(--color-green-400);
    --color-dark-nextadmin-alert-error-background: var(--color-zinc-600);
    --color-dark-nextadmin-alert-error-content: var(--color-red-400);
}